#indexCarouselMargin{
	margin:50px auto;

}

.indexCarouselDiv {
	width: 500px;
	height: 400px;
	border: 2px solid black;
	margin: auto;
}

.indexCarouselImg {
	width: 100%;
	height: 100%;
}

.indexCarouselDetail {
	background-color:aliceblue;
	opacity:0.8;
	width: 400px;
	margin: auto;
	/*border: dashed;*/
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;

}

/*carousel detail div 1*/
.CDdiv1{
	color:brown;
}


/*
#indexCarouselOutside {
	width: 1100px;
	margin:auto;
}
*/
