#indexNavbar {
	opacity: 0.9;
}

#headBackground {
	width: 100%;
	height: 85px;
	background: #0094ff;
}

.headDivLine {
	width: 100%;
	height: 10px;
	background: #400097;
}
/*Logo*/

#headLogo {
	width: 100%;
	height: 100px;
	background: #9eecff;
	opacity: 0.8;
	/*border: 3px ridge #400097;*/
}

#hubuLogo {
	margin-top: 10px;
}

#groupLogo {
	margin-top: 5px;
}

#logoPosition {
	width: 100%;
	margin: 0 auto;
}


