body{
	text-align: center;
	margin: auto;
	background-image: url("/img/test_background.png");
	background-color: rgba(0,0,0,0);
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/* 
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	*/

}

#indexNavbar {
	opacity: 0.9;
}

#headBackground {
	width: 100%;
	height: 75px;
	background: #0094ff;


}

#headDivLine {
	width: 100%;
	height: 10px;
	background: #400097;

}


/*Logo*/

#headLogo {
	width: 100%;
	height: 100px;
	background: #9eecff;
	opacity: 0.8;
	/*border: 3px ridge #400097;*/
}


#logoPosition {
	width: 100%;
	margin:0 auto;
}

#hubuLogo {


}

#groupLogo {


}



#headSearch {
	height: 120px;
}
