#navigation{
	
	/* 	color:Green;
	font-size:30px;
	margin:100px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	text-align:center;
	border-style: outset;
	border-width: 5px;
	border-color: cadetblue;
	padding: 25px; */

}
#maintitle{
	color: Green;
	font-size: 80px;
	margin: 50px;
	font-family: Arial Black, Gadget, sans-serif;
	text-align:center;
}
